# Some Hosting providers need you to set variables on their service, so please be sure you set it too
VITE_HOST="http://domain.com"
VITE_APP_TITLE="Genshin Impact Wish Simulator"
VITE_DESCRIPTION="Simulate gacha with no cost on the latest banner. Get experience when wishing character or weapon that promoted on the current banner for free"
VITE_KEYWORDS="Genshin Impact Wish simulator, Gacha simulator, genshin Gacha, free gacha, free wish, free primogem, genshin impact banner, Character Event, Weapon Event"

# If You want to reduce the bandwidth usage, you can use CDN to serving some assets from your github repository
# First You must fork the original Repository and then fill variable bellow
USE_CDN=false # Set true if Use CDN
GITHUB_USER=""
GITHUB_REPO="Genshin-Impact-Wish-Simulator"

# CHATROOM
VITE_CHATROOM=false
VITE_API_KEY=""
VITE_AUTH_DOMAIN=""
VITE_DATABASE_URL=""
VITE_BUCKET=""
VITE_MSG_SENDER_ID=""
VITE_RECAPTCHA_PUBLIC_KEY=""
