@charset "UTF-8";

@font-face {
	font-family: 'genshin-icon';
	src: url('fonts/genshin-icon.eot');
	src: url('fonts/genshin-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/genshin-icon.woff') format('woff'), url('fonts/genshin-icon.ttf') format('truetype'),
		url('fonts/genshin-icon.svg#genshin-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'genshin-icon' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='gi-']:before,
[class*=' gi-']:before {
	font-family: 'genshin-icon' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.gi-anemo:before {
	content: '\61';
}
.gi-arrow-left:before {
	content: '\62';
}
.gi-arrow-right:before {
	content: '\63';
}
.gi-bow:before {
	content: '\7a';
}
.gi-catalyst:before {
	content: '\65';
}
.gi-character:before {
	content: '\66';
}
.gi-claymore:before {
	content: '\79';
}
.gi-companion:before {
	content: '\68';
}
.gi-close:before {
	content: '\6b';
}
.gi-cryo:before {
	content: '\6e';
}
.gi-dendro:before {
	content: '\69';
}
.gi-domain:before {
	content: '\6c';
}
.gi-dragonspine:before {
	content: '\6d';
}
.gi-sword:before {
	content: '\6a';
}
.gi-rotate-phone:before {
	content: '\77';
}
.gi-recomended:before {
	content: '\70';
}
.gi-pyro:before {
	content: '\4c';
}
.gi-primo-star:before {
	content: '\72';
}
.gi-polearm:before {
	content: '\73';
}
.gi-montstad:before {
	content: '\75';
}
.gi-inazuma:before {
	content: '\76';
}
.gi-hydro:before {
	content: '\6f';
}
.gi-gift-shop:before {
	content: '\78';
}
.gi-geo:before {
	content: '\67';
}
.gi-electro:before {
	content: '\64';
}
.gi-times:before {
	content: '\41';
}
.gi-paimon-bargains:before {
	content: '\42';
}
.gi-genesis:before {
	content: '\43';
}
.gi-weapon:before {
	content: '\44';
}
.gi-star:before {
	content: '\45';
}
.gi-circle-o:before {
	content: '\46';
}
.gi-caret-up:before {
	content: '\47';
}
.gi-caret-down:before {
	content: '\48';
}
.gi-angle-left:before {
	content: '\49';
}
.gi-angle-right:before {
	content: '\4a';
}
.gi-reply:before {
	content: '\4b';
}
.gi-delete:before {
	content: '\71';
}
.gi-arrow-up:before {
	content: '\4d';
}
.gi-cancel:before {
	content: '\4e';
}
.gi-exchange:before {
	content: '\4f';
}
.gi-save:before {
	content: '\50';
}
.gi-copy:before {
	content: '\51';
}
.gi-help:before {
	content: '\53';
}
.gi-twitter:before {
	content: '\54';
}
.gi-facebook:before {
	content: '\52';
}
.gi-instagram:before {
	content: '\55';
}
.gi-link:before {
	content: '\56';
}
.gi-dot-3:before {
	content: '\57';
}
.gi-search:before {
	content: '\58';
}
.gi-plus:before {
	content: '\59';
}
.gi-outfit:before {
	content: '\74';
}
.gi-shrink:before {
	content: '\30';
}
.gi-lose:before {
	content: '\31';
}
.gi-win:before {
	content: '\33';
}
.gi-selected:before {
	content: '\32';
}
.gi-guaranteed:before {
	content: '\35';
}
.gi-apple:before {
	content: '\34';
}
.gi-android:before {
	content: '\36';
}
.gi-windows:before {
	content: '\37';
}
.gi-eye-slash:before {
	content: '\38';
}
.gi-eye:before {
	content: '\39';
}
.gi-check:before {
	content: '\21';
}
.gi-chat:before {
	content: '\5a';
}
.gi-fullscreen:before {
	content: '\23';
}
.gi-picture:before {
	content: '\22';
}
.gi-team:before {
	content: '\24';
}
.gi-user:before {
	content: '\25';
}
.gi-min:before {
	content: '\26';
}
.gi-gear:before {
	content: '\27';
}
.gi-zoom-in:before {
	content: '\28';
}
.gi-zoom-out:before {
	content: '\29';
}
.gi-reset:before {
	content: '\2a';
}
.gi-pen:before {
	content: '\2b';
}
.gi-move:before {
	content: '\2c';
}
.gi-lock:before {
	content: '\2d';
}
.gi-share:before {
	content: '\2e';
}
.gi-network:before {
	content: '\2f';
}
.gi-cloud:before {
	content: '\3a';
}
.gi-cloud-sync:before {
	content: '\3b';
}
.gi-drive:before {
	content: '\3c';
}
.gi-local:before {
	content: '\3d';
}
.gi-import:before {
	content: '\3e';
}
