name: Release

on:
 workflow_dispatch:
jobs:
  app:
    uses: ./.github/workflows/app.yml
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
            tag_name: release
            files: ./**/genish-impact*.zip